<div class="blog">
    <img class="left" src="/files/blog/<%= img %>.jpeg" alt="blog">
    
    
    <div class="right">
        <h2>
            <a href="/blog/<%= url %>" target="_blank">
                <%= short_title %>
            </a>
        </h2>
        <div class="share">
            <%- include("../partials/share_buttons") %>
        </div>
        <div class="date">
            <%= date %>
        </div>
        <p class="text">
            <%= description %>
        </p>
    </div>
</div>
