
<div class="event">
    <h3><%= event %></h3>

    <div class="label">
        <div class="left">Date:-</div>
        <div class="right"><%= date %></div>
    </div>
    <div class="label">
        <div class="left">Time:-</div>
        <div class="right"><%= time %></div>
    </div>
    <div class="label">
        <div class="left">Venue link:-</div>
        <div class="right"><a href="<%= venue_link %>" target="_blank"><%= venue_link %></a></div>
    </div>
    <div class="label">
        <div class="left">Venue:-</div>
        <div class="right"><%= venue %></div>
    </div>
    <div class="label">
        <div class="left">Description:-</div>
        <div class="right"><%= description %></div>
    </div>

    <button class="submit">Volunteer Now</button>
</div>

