<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Volunteers</title>
    <%- include('partials/header') %>

    <link rel="stylesheet" href="styles/default.css">
    <link rel="stylesheet" href="styles/volunteer/index.css">

    <%- include('partials/navbar') %>

</head>
<body>
    <div style="height: 5rem;"></div>
    <h1 class="first">Join the CareforAll team</h1>
    <h1>and become a volunteer for our<br>upcoming medical and awareness camps</h1>
    <section>
        <h2>Our upcomming camps</h2>

        <%- include('partials/event', {
            event: "Rammaiha",
            date: "17-06-2023",
            time: "5:00 pm",
            venue: "14/1, Kodigehalli Main Rd, CQAL Layout, Sahakara Nagar",
            venue_link: "https://goo.gl/maps/ogYzNMCUu1Xh2KGa9",
            description: "A good camp for would be doctors,"
        }) %>

        <%- include('partials/event', {
            event: "Samrthanam",
            date: "12-08-2023",
            time: "3:00 pm",
            venue: "33rd Main Rd, MG Layout, JP Nagar VI Phase, J P Nagar",
            venue_link: "https://goo.gl/maps/ogYzNMCUu1Xh2KGa9",
            description: "A good camp for would be lawyers",
        }) %>
    </section>

    <h1 class="why_us">Why volunteer with us</h1>
    <p class="why_us_p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum soluta perspiciatis animi obcaecati dignissimos? Quam nisi assumenda, nobis unde nemo vitae doloribus dolores totam doloremque atque, voluptates labore architecto rerum.
    Nam eius hic nemo tempore corporis tenetur libero, laudantium consequatur voluptas mollitia delectus itaque cumque ut asperiores recusandae eligendi. Explicabo nihil sint corporis eos commodi rem voluptate nam quis dolorum.</p>
    <%- include('partials/footer') %>
</body>
</html>