<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Volunteers</title>
    <%- include('partials/header') %>

    <link rel="stylesheet" href="styles/default.css">
    <link rel="stylesheet" href="styles/volunteer/index.css">

    <%- include('partials/navbar') %>

</head>
<body>
    <div style="height: 5rem;"></div>
    <h1 class="first">Join the CareForAll team!</h1>
    <h1>Be a volunteer for our upcoming medical and awareness camps</h1>
    <section>
        <h2>Our upcomming camps</h2>

        <%- include('partials/event', {
            event: "Rammaiha",
            date: "17-06-2023",
            time: "5:00 pm",
            venue: "14/1, Kodigehalli Main Rd, CQAL Layout, Sahakara Nagar",
            venue_link: "https://goo.gl/maps/ogYzNMCUu1Xh2KGa9",
            description: "A good camp for would be doctors,"
        }) %>

        <%- include('partials/event', {
            event: "Samrthanam",
            date: "12-08-2023",
            time: "3:00 pm",
            venue: "33rd Main Rd, MG Layout, JP Nagar VI Phase, J P Nagar",
            venue_link: "https://goo.gl/maps/ogYzNMCUu1Xh2KGa9",
            description: "A good camp for would be lawyers",
        }) %>
    </section>

    <h1 class="why_us">Why volunteer with us</h1>
    <p class="why_us_p">
        Apart from a very fulfilling and rewarding experience and widening your future career options by creating more doors of opportunity,
        you will be featured on our Youtube channel and our website, and you will also receive a certificate for each camp in which you participate.</p>
    <%- include('partials/footer') %>
</body>
</html>